<div *ngIf="identity" class="navigation col-lg-1"> 
  <h1>
    {{title}}
  </h1>
 
</div>

<div class="bg-dark">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form #loginForm="ngForm"  (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="inputEmail" name="username" #username="ngModel" [(ngModel)]="user.username" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                <span *ngIf="!username.valid && username.touched">
                  El Usuario es obligatorio
                </span>
                <label for="inputEmail">Email address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="Password" required="required">
                <span *ngIf="!password.valid && password.touched">
                  La contraseña es obligatoria
                </span>
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <input type="submit" value="Entrar" class="btn btn-primary btn-block"  />
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
  </div>